<article class="outstanding">
    <header class="outstanding__header" (click)="showPanel = !showPanel">
        <div class="outstanding__texts">
            <p class="text--blue">Banner destacado 1</p>
            <p class="text--main">{{ outstandingElement?.title }}</p>
            <p class="text--second">{{ outstandingElement?.description }}</p>
        </div>
        
        <div class="outstanding__modification">
            <p class="modification__title">Ultima modificación</p>
            <p class="modification__value">{{outstandingElement?.updatedAt | date:'hh:mm a dd LLLL'}}</p>
            <p class="modification__title">Hecha por:</p>
            <p class="modification__value">{{ outstandingElement?.lastUpdater.name }}</p>
        </div>

        <div class="outstanding__edit">
            <button><span class="icon icon-edit"></span>editar</button>
        </div>
    </header>
    <section class="outstanding__body" *ngIf="showPanel">
        <form action="" [formGroup]="formFields" (submit)="onSaveOutstanding($event)">
            <div class="outstanding__fields">
                <div class="form-field form-field--half">
                    <label for="outstandingTitle">Titulo destacado</label>
                    <input type="text" name="outstandingTitle" id="outstandingTitle" formControlName="title">
                    <p class="error"></p>
                </div>
                <div class="form-field form-field--half upload">
                    <label class="upload__label" for="outstandingImg"><span class="icon icong-upload"></span>Subir imagen</label>
                    <p class="upload__alert">Tamaño máximo hasta 25MB</p>
                    <input type="file" id="outstandingImg" name="outstandingImg" (change)="onFileSelect($event)">
                    <p class="error"></p>
                </div>

                <div class="form-field form-field--complete">
                    <label for="outstandingDesc">Descripción</label>
                    <textarea name="outstandingDesc" id="outstandingDesc" cols="30" rows="3" formControlName="description"></textarea>
                    <p class="error"></p>
                </div>

                <div class="form-field form-field--half">
                    <label for="outstandingLink">¿A qué URL debe ir este enlace?</label>
                    <input type="text" name="outstandingLink" id="outstandingLink" formControlName="link">
                    <p class="error"></p>
                </div>
                <div class="form-field form-field--half">
                    <label for="outstandingCta">Texto del botón</label>
                    <input type="text" name="outstandingCta" id="outstandingCta" formControlName="ctaText">
                    <p class="error"></p>
                </div>
            </div>
            <div class="outstanding__buttons">
                <button class="btn btn--border" (click)="showPanel = !showPanel">Cancelar</button>
                <button class="btn btn--filled">Modificar</button>
            </div>
        </form>
    </section>
</article>
