#pdfUpload {
    min-width: 420px;
    padding: 8px 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;

    .pdf-title{
        border-bottom: 1px solid rgba(165, 171, 177, .35);
        display: flex;
        justify-content: space-between;
        h2 {
            color: #a5abb1;
            font-size: 14px;
            &.mat-dialog-title{
                margin: 0;
            }
        }
        .modal-close-cta{
            color: #616161;
            cursor: pointer;
            span{
                position: relative;
                top: 4px;
            }
        }
    }

    .message-container {
        .message-box {
            text-align: center;
            padding: 32px;
            position: relative;

            &.divider {
                &::after {
                    border-bottom: 1px solid rgba(165, 171, 177, 0.35);
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 80%;
                    margin-left: 10%;
                }
            }
            .message-description{
                padding-bottom: 20px;
                color: #7f7f7f;
            }

            .up-file{
                padding: 10px;
                background: #a5abb1;
                text-transform: uppercase;
                font-size: .94em;
                color: #ffff;
                border-radius: 10px;
                cursor: pointer;
                img{
                    width: 3%;
                    padding: 0 5px;
                }
            }
            .size-txt{
                margin-top: 7px;
                color: #7f7f7f;
                font-size: .68em
            }
        }

        .message-icon{
            .logo-board{
                width: 16%;
            }
        }

        .message-title {
            color: #FF003B;
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 15px;
            &.check{
              color: #19d600;
            }
        }

        .info-pdf{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-weight: 500;
          background: #f5f7fb;
          padding: 18px;
          margin-bottom: 6%;
          p{
            font-size: .88em;
            color: #a0a2a3;
          }
          div{
            display: flex;
            align-items: center;
            p{
              font-size: .75em;
              color: #bdc2c7;
              padding-right: 20px;
            }
          }
        }
    }

    .pdf-btn{
        text-align: center;
        width: 100%;
        padding-bottom: 25px;
        button{
            width: 20%;
        }
        .pdf-close{
            margin-right: 30px;
            box-shadow: none;
            color: #0b86ff;
            border: solid 1px #0b86ff;
        }
        .mat-primary{
            background-color: #0080ff;
            color: #ffff;
            &[disabled] {
                background-color: #bfdfff;
            }
        }
    }
}

/* Loader */

.pdf-spinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    p{
        margin-top: 10px;
        color: #7f7f7f;
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0080ff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  