<header>
    <button class="close-btn" (click)="hideComments()">
        <i class="material-icons">close</i>
    </button>
    <h1>Comentarios</h1>
</header>

<section>
    <mat-card id="{{ comment.id }}" class="comment" *ngFor="let comment of list.comments">
        <mat-card-header>
            <div mat-card-avatar>
                <div class="avatar"></div>
                <!-- <img src="../../../../../assets/images/user/images.png"> -->
            </div>

            <mat-card-title>{{ comment.user?.name }}</mat-card-title>
            <mat-card-subtitle>{{ comment.user?.charge }}</mat-card-subtitle>
            <button class="comment-close" (click)="deleteComment(comment.id)">
                <span class="icon icon-trash-alt"></span>
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>{{ comment.text }}</p>
            <div class="actions">
                <button (click)="resolveComment(comment)" mat-stroked-button class="btn-resolve" *ngIf="!comment.resolved">Resolver</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="comment-form hide">
        <mat-card-header>
            <div mat-card-avatar>
                <div class="avatar"></div>
                <!-- <img src="../../../../../assets/images/user/images.png"> -->
            </div>
            <mat-card-title>{{ user?.name }}</mat-card-title>
            <mat-card-subtitle>{{ user?.charge }}</mat-card-subtitle>
            <button class="comment-close" (click)="hideCommentForm()">
                <span class="icon icon-times"></span>
            </button>
        </mat-card-header>
        <mat-card-content class="form">
            <textarea class="autoExpand" placeholder="Escriba aquí..." [(ngModel)]="comment.text"></textarea>
            <button type="button" name="button" class="send-btn" (click)="sendComment()">
                <i class="material-icons">arrow_forward</i>
            </button>
        </mat-card-content>
    </mat-card>

    <div class="add-action">
        <p>
            <button (click)="displayCommentForm()">
                <i class="material-icons">add</i>
            </button>
            <span>Nuevo comentario</span>
        </p>
    </div>
</section>

<!-- <footer>
    <button type="button" name="button" mat-stroked-button>Enviar comentarios</button>
</footer>
 -->
