@import '../../../../../assets/sass/_mixins';

app-right-content.tabs.mat-tab-group.mat-tab-header {
    background: #f5f7fb !important;
}
.mat-tab-label-container{
	background: #f5f7fb !important;
}

.top-section-list {
	position: relative;
	cursor: pointer;
	.calender-container{
		position: absolute;
		right: 0;
	}

    .back-btn {
        margin-top: 15px;
        font-size: 12px;
        color: #939393;
		cursor: pointer;
		a{
			font-family: "Helvetica Neue",sans-serif;
			color: #616161;
			font-weight: bold;
			font-size: 1em;
		}
    }

    .search-container  {
        text-align: right;
		margin-top: 20px;

		.icon-calendar{
			padding-right: 30px;
			position: relative;
			font-size: 0.688em;
			padding-left: 15px;
			line-height: 1.25em;
			color: #A5ABB1;

			&:before {
				position: absolute;
				right: 7px;
				margin: 0;
				font-size: 1.7em;
				top: 0;
				bottom: 0;
				margin: auto;			}	
		}

        input {
            width: 300px;
            line-height: 11px;
            padding: 5px 5px;
            font-style: italic;
            color: #757575;
            font-size: 14px;
			font-weight: 200;
			border: 1px solid #BEC5D0;
			font-family: "Helvetica Neue", sans-serif;
			/* background: #FFFFFF 0% 0% no-repeat padding-box; */
            ::placeholder {
				color: #BEC5D0 !important;
				opacity: 0.5;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: #BEC5D0 !important;
				opacity: 0.5;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
				color: #BEC5D0 !important;
				opacity: 0.5;
            }
        }
    }
}

.content {
	&--top {
		@include display-flex;
		align-items: center;
		background: #FFFFFF;
		height: 60px;
		justify-content: space-between;
		width: 100%;
	}

	.message {
		color: #616161;
		font-size: 1.125em;
		font-weight: 600;
		width: 100%;
	}
}


section {
	background: #E7ECF4;
	&.tabs {
		.mat-tab-group {
			.mat-tab-label {
				width: auto;
				min-width: auto;
				background: purple;
				color: red;
			}
			.pending {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					left: -8px;
					top: -4px;
					width: 8px;
					height: 8px;
					background-color: #FF003B;
					border-radius: 50%;
				}
			}
		}
	}
}

.mat-raised-button {
	background: #FF003B;
	box-shadow: none;
	color: #FFFFFF;
	padding: 0 40px;

	.mat-button-wrapper {
		font-size: 0.875em;
	}
}

.report-list {
	.row {
		@include display-flex;
		@include border-radius(10px);
		align-items: center;
		background: #FFFFFF;
		border: #F5F5F5 1px solid;
		color: #5C5C5C;
		height: auto;
		justify-content: space-between;
		margin: 2vh 4%;
		min-height: 76px;
		padding: 0 3%;
		position: relative;

		&.yellow {
			&:after {
				background: #F9E333;
			}
		}

		&.green {
			&:after {
				background: #19D600;
			}
		}

		&.cian {
			&:after {
				background: #00FFF5;
			}
		}

		&.red {
			&:after {
				background: #FF003B;
			}
		}

		&.gray {
			&:after {
				background: #D9D9D9;
			}
		}

		&:after {
			@include border-radius-left(10px);

			content: '';
			height: 100%;
			left: -1px;
			position: absolute;
			top: 0;
			width: 1.2%;
		}


	}

	.report{
		&--title {
			font-style: 1em;
			font-weight: 500;
			// width: 40%;
		}

		&--span {
			font-size: 0.688em;
			font-style: italic;
			display: block;

			&:before{
				color: #ff9d00;
				display: block;
				font-size: 1.3em;
				line-height: 1.4em;
				margin-left: 22px;
			}
		}

		&--menu {
			border: none;
			color: #BEC5D0;
			background-color: #ffffff;
			cursor: pointer;
			font-size: 1.188em;
			margin: 0;
			padding: 0;
			position: relative;
			text-align: center;
			width: auto;

			&:hover {
				color: #0080FF;

				+ .report--menu-list {
					display: block;
				}
			}

			&:focus {
				outline: none;
			}

			&:after {
				background: #F5F5F5;
				bottom: 0;
				content: "";
				height: 200%;
				left: -20px;
				margin: auto;
				position: absolute;
				top: 0;
				width: 1px;
			}

			&:before {
				margin:0;
			}
		}


		&--menu-list {
			@include border-radius(10px);

			background: #ffffff;
			border: 1px solid #0080FF;
			box-sizing: border-box;
			display: none;
			position: absolute;
			padding: 10px 10px 16px 10px;
			right: 0;
			width: 130px;
			z-index: 100;

			&:after {
					border-right: 1px solid #0080FF;
				    border-top: 1px solid #0080FF;
				    color: transparent;
				    cursor: pointer;
				    display: inline-block;
				    height: 10px;
				    position: absolute;
				    right: 30px;
				    top: 0;
				    width: 10px;
				    -ms-: rotate(315deg);
				    transform: rotate(315deg);
				    position: absolute;
				    top: -6px;
					content: '';
			}

			&:before {
				content: "";
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid #ffffff;
				position: absolute;
				top: -8px;
				right: 28px;
				width: 0;
			}


			&:hover {
				display: block;

				+ .report--menu {
					color: red;
				}
			}

			li {
				padding: 6px 0;
				border-bottom: 1px solid #EDEDED;

				.icon {
					color: #5C5C5C;
					cursor: pointer;
					font-size:0.750em;
					background-color: #fff;
					border: none;

					&:before {
						color: #0080FF;
						font-size: 0.833em;
					};

					&:hover {
						color: #616161;
						font-weight: bold;
					}
				}

				.icong {
					background-color: #FFFFFF;
					border: none;
					color: #0080FF;
					cursor: pointer;
					display: inlineZ;
					font-size:0.750em;

					&:before {
						color: #FF9D00;
						font-size: 1em;
						margin-right: 5px;
					}

					&:hover {
						font-weight: bolder;
					}
				}
			}

			&.active {
				display: block;
			}

		}
		// &--line {
		// 	@include border-radius-left(10px);

		// 	background: #F9E333;
		// 	height: 100%;
		// 	left: -1px;
		// 	position: absolute;
		// 	top: 0;
		// 	width: 1%;
		// }
	}
	.state-name{
		width: 14%;
	}
	.input-check{
		width: 10%;
	}
	.report-main-title{
		width: 40%;
		h2{
			margin-right: 2vw;
			text-transform: capitalize;
		}
	}
	.report-span-date{
		width: 10%;
	}
	.report-user-name{
		width: 15%;
	}
	.group-menu{
		width: 4%;
	}
}

.folder_container{
	padding-bottom: 3%;
	position: relative;

	.operation-cta{
		bottom: 0;
		margin: auto;
		position: absolute;
		right: 4%;
		top: 0;

		ul{
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			li{
				margin-right: 40px;
				a{
					color: #616161;
					font-size: 12px;
					font-family: "Helvetica Neue", sans-serif;
					font-weight: bold;
					text-decoration: underline;
					cursor: pointer;
					display: flex;
					align-items: center;
					/* &.active{
						color: #A5ABB1;
					} */
				}
				&:last-child{
					margin-right: 0;
				}
	
			}
		}
		.delete_icons{
			li{
				display: flex;
				align-self: stretch;
				color: #616161;
			}
			i{
				padding-right: 3px;
				font-size: 1.32em;
			}
		}
	}
	mat-form-field{
		border: 1px solid #EDEDED;
		position: relative;
   		right: 3%;
		&.simple::before{
			content: '';
			border-left: 1px solid rgba(192, 192, 192, 0.349);
			width: 1px;
			height: 70px;
			position: absolute;
			left: 120%;
			top: -16px;
		}
		&.filter{
			right: 5%;
		}
	}
	.filter-wrapper {
		width: 180px;
		display: inline-block;	
	}
}

// .fa-redo-alt{
// 	background: url("/assets/images/redo-alt-solid.svg") no-repeat center center;
// 	width: 16px;
// 	height: 16px;
// }
  
  	.custom-checkbox-container {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		input{
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			&:checked {
				~ {
					.checkmark {
						background-color: #fff;
						&:after {
							display: block;
						}
					}
				}
			}
		} 
		.checkmark{
			position: absolute;
			top: 0;
			left: 0;
			height: 16px;
			width: 16px;
			background-color: #fff;
			border-radius: 50%;
			border: 1px solid #BEC5D0;
			&:after {
				content: "";
				position: absolute;
				display: none;
				left: 2px;
				top: 2px;
				width: 12px;
				background-color: #0080FF;
				border-radius: 50%;
				height: 12px;
			}
		}
		&:hover {
			input {
				~ {
					.checkmark {
						background-color: #ccc;
					}
				}
			}
		}
	}

	.paginations {
		display: flex;
		justify-content: center;
		margin: 30px 0;
		a {
			color: #BCBCBC;
			text-decoration: none;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			margin: 2px;
			&:hover {
				&:not(.active) {
					background-color: #ddd;
				}
			}
			&.label{
				width: auto;
				font-style: italic;
				&:hover {
					&:not(.active) {
						background-color: #fff;
					}
				}
			}
		}
		a.active {
			background-color: #007DFF;
			color: white;
		}
	}


	.calender-icon{
		position: relative;
		color: #A5ABB1;
		font-size: 11px;
		margin-right: 20px;
		margin-left: 13px;
		cursor: pointer;
		&::after{
			content: "";
			background: url(/assets/images/calender-icon.png) no-repeat center center;
			width: 18px;
			height: 20px;
			position: absolute;
			right: -33px;
			transform: translate(-50%, -50%);
    		top: 50%;
		}
	}

.insert_icon{
	/* &:after {
		top: 12px;
		left: 15px;
		content: '';
		position: relative;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #FF003B;
	} */
	.icon_insert{
		clip-path: polygon(73% 41%, 51% 64%, 29% 41%, 39% 38%, 51% 54%, 66% 36%);
		background-color: red;
		width: 16%;
		height: 25px;
		top: 16%;
		right: 19%;
		position: absolute;
	}
	.insert_text{
		position: relative;
   	 	right: 7px;
	}
}
.info_btn{
	button{
		span{
			clip-path: polygon(44% 28%, 90% 46%, 45% 66%, 45% 58%, 81% 46%, 44% 35%);
			background-color: #FFF7F9;
			width: 7%;
			height: 25px;
			top: 17%;
			right: 10%;
			position: absolute;
		}

	}
}


.calendar-container {
		@include border-radius(5px);

		background: #FFFFFF;
		padding: 20px 24px 30px 24px;
		position: absolute;
		text-align: center;
		z-index: 101;
			
			&--form {
				height: 40px;
				padding: 0 20px 0 10px;
				position: relative;
				margin-bottom: 20px;

				.input-left {
					margin-right: 20px;
				}

			}

			&--title {
				color: #A5ABB1;
				border-bottom: 1px solid #E7EAF1;
				font-size: 1em;
				font-weight: 500;
				margin-bottom: 36px;
				padding-bottom: 16px;
				text-align: left;
			}

			&--input {
				margin-right: 20px; 
				width: 280px;
			}

			.mat-button-base {
				padding: 0;
				color: #A5ABB1;
				margin-right: 20px;
				text-align: center;
				width: 150px;
			}

			.mat-raised-button {
				background: #0080FF;
				color: #FFFFFF;
			}

			.box-content {
				display: block;
			}

			.modal-close-cta {
				position: absolute;
				right: 10px;
				top: 20px;
				color: #616161;
				font-style: italic;
				font-size: 12px;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: center;
				align-items: center;
				cursor: pointer;

				span {
					&:before {
						font-weight: bold;
						margin-left: 10px;
					}				
				}


			}


	}

	.overlay {
		background: rgba(0,0,0,.32);
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 100;	
	}	

.delete_reports{
	height: 50vh;
	div{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    top: 11em;
	}
	p{
		padding-left: 15px;
		color: #616161;
		font-size: 1.125em;
	}
}

.revised_content{
	border-top: solid 1px rgba(192, 192, 192, 0.288);
	h1{
		width: 90%;
		margin: auto;
		color: #616161;
		font-size: 1.125em;
		font-weight: 600;
		padding: 15px 0px;
	}
}
.crown_menu{
	span{
		display: flex;
	}
	img{
		width: 15%;
		padding-right: 1em;
	}
}
.crown_btn{
	span{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10em;
		background: #ffff;
		padding: 4px;
		border-radius: 5px;
		color: #0080FF;
		font-size: 1.25em;
		border: solid 1px;
	}
	a{
		text-decoration: none !important;
	}
	img{
		width: 12%;
		padding-right: 0.5em;
	}
}
