<div class="content-bar">
    <div class="options" (click)="changeViewFn({reports:true, editSite:false})">
        <p class="options--name icon icon-copy">Mis informes</p>
        <ul class="options--list">
            <li *ngFor="let state of list.states" [className]="state.color" [ngClass]="{active: isItemActive(state.id)}" (click)="setCurrentState(state)">
                <a >{{state.name}}</a>
                <span class="cnt">{{state.reports ? state.reports.length : 0}}</span>
            </li>
        </ul>
    </div>
    <div class="options">
        <p class="options--name icon icon-folder variation">Mis carpetas</p>
        <ul class="options--list options-folder">
            <li *ngFor="let folder of list.folders" [ngClass]="{active: isFolderActive(folder.id)}" (click)="setCurrentFolder(folder)">
                <a>{{folder.name}}</a>
                <span class="cnt">{{folder.count}}</span></li>
            <li class="edit-btn-item">
                <button mat-raised-button (click)="openDialog()"><span class="icon icon-cog cog_icon"></span> Editar y crear carpetas</button>
            </li>
        </ul>
    </div>
    <div class="options">
        <p class="options--name icon icon-file-upload variation">Multimedia</p>
    </div>
    <div class="options" (click)="changeViewFn({reports:false, editSite:true})">
        <p class="options--name icon variation">Editar sitio</p>
    </div>
    <div class="options delete-section-btn">
        <p class="options--name icon icon-trash-alt variation" [ngClass]="{active: isDeleteActive()}"
           (click)="setDeletedState()">Eliminados</p>
    </div>
    <div class="options" (click)="changeViewFn({reports:false, editSite:true})" *ngIf="showMenu">
        <p class="options--name icon variation">Editar sitio</p>
    </div>
</div>
