<div class='dialog-box'>
	<div class="dialog_header">
		<h1 mat-dialog-title>Editar y crear carpeta</h1>
		<p (click)="onNoClick(false)">Cerrar <img src="/assets/images/cerrar.png" alt=""></p>
	</div>
	<div mat-dialog-content>
		<form class="form-box">
			<button class="icon_edit material-icons" *ngIf="folder.id">done</button>
			<button class="icon icon-plus-circle" *ngIf="!folder.id">editar</button>
			<mat-form-field>
				<input matInput [(ngModel)]="folder.name" [ngModelOptions]="{standalone: true}" [placeholder]="(folder.id ? 'Editar carpeta' : 'Crear carpeta nueva')">
			</mat-form-field>
		</form>
		<ul class="list">
			<li *ngFor="let folder of folders">
				<p class="list--left">{{folder.name}}</p>
				<div class="list--right">
					<span class="pages_right">0 pages</span>
					<button class="icon icon-edit" (click)="onEditFolder(folder)">editar</button>
					<span class="list--divider">&nbsp;</span>
					<button class="icon icon-trash-alt" (click)="onDeleteFolder(folder)">eliminar</button>
				</div>
			</li>
		</ul>
	</div>
	<div mat-dialog-actions>
		<button mat-button class="dialog_cancel" (click)="onNoClick(false)">Cancelar</button>
		<button mat-button class="btn btn-primary" (click)="onSaveFolder()" [disabled]="!folder.name" cdkFocusInitial>{{(folder.id ? 'Editar': 'Agregar')}}</button>
	</div>
</div>
