.p-login {
	background: url("/assets/images/login-bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;

	.login-section {
		max-width: 500px;
		background-color: #FFF;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 60px 0 80px;
		box-sizing: border-box;

		.logo {
			margin-bottom: 28px;

			img {
				max-width: 207px;
			}
		}

		.logo-subtxt {
			margin-bottom: 60px;

			p {
				color: #616161;
				display: inline;
				vertical-align: sub;
				font-size: 18px;
			}
		}

		.log-form {
			input {
				display: block;
				margin: auto;
				width: 100%;
				font-size: 0.825em;
				margin-bottom: 2em;
				padding: 0.5em 0;
				border: none;
				border-bottom: 1px solid #eaeaea;
				padding-bottom: 1.25em;
				color: #757575;

				&:focus {
					outline: none;
				}

				&[type=checkbox] {
					width: auto;
					display: initial;
				}
			}

			.btn {
				&.login {
					background: #FF003B;
					box-shadow: none;
					color: #FFFFFF;
					font-size: 0.875em;
					box-sizing: border-box;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					cursor: pointer;
					outline: 0;
					border: none;
					line-height: 36px;
					border-radius: 4px;
					width: 100%;

					&:disabled {
						background: #b1b1b1;
					}

					&.margin {
						margin-top: 55px;
					}
				}
			}

			.small-label {
				color: #616161;
				font-size: 0.75em;
				margin-left: 12px;
			}
		}

		.form-error {
			color: #FF003B;
			font-size: 0.75em;
			font-style: italic;
			font-weight: 300;
		}		

	}
}
