
<div class="back-btn">
    <a (click)="changeViewFn()"><span>&#60;</span> Volver </a>
</div>
<mat-tab-group>
    <mat-tab label="Home">
        <div class="tab__wrapper">
            <div class="tab__header">
                <p>Elija la sección que desea modificar</p>
            </div>
            <div class="tab__container">
                <app-banner outstandingKey="banner_1"></app-banner>
                <app-banner outstandingKey="banner_2"></app-banner>
                <app-investment-strategies></app-investment-strategies>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Conócenos"></mat-tab>
</mat-tab-group>

