<div class="container">
	<mat-drawer-container class="example-container">
		<mat-drawer mode="side" opened>
			<a class="aside-back"><i class="material-icons" >chevron_left</i>Volver</a>
			<ul>
				<li class="mat-drawer-aside-title">
					<i class="material-icons notifications_icon">notifications</i>
					<h6>Filtro de notificaciones</h6>
				</li>
				<li class="mat-drawer-aside-item active">Todas las notificaciones <span>{{ ntfQty }}</span></li>
				<li class="mat-drawer-aside-item">Informes editados por otros <span>35</span></li>
				<li class="mat-drawer-aside-item">Informes publicados por otros <span>0</span> </li>
			</ul>
		</mat-drawer>

		<mat-drawer-content>
			
			<h6>Tus notificaciones ({{ ntfQty }})</h6>
			<a (click)="goBack()"><i class="material-icons" >chevron_left</i>Volver</a>
			
			<div class="mat-card-container">
				<mat-card>
					<div class="notification_info" matRipple
					*ngFor="let notification of notifications" 
					(click)="openNotification(notification.reportId)" 
					[ngClass]="{'to-check' : !notification.readed}">

						<img *ngIf="notification.type === 'report-comment'"
						class="indicator" src="../assets/images/comments.png">
						
						<div *ngIf="notification.type !== 'report-comment'" 
						class="indicator {{ notification.bgColor }}"></div>
						
						<h6>{{ notification.subject }}</h6>
						<p>{{ notification.text }}</p>
						<small>{{ notification.timeAgo }}</small>
					</div>
				</mat-card>
				<div class="loader"></div>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>